* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--text-primary-color);
    background-color: var(--background-color);
    font-family: $nunito-font;
    scroll-behavior: smooth;
    overflow-x: hidden;
    @include flex-column;
    height: 100vh;
}
