:root {
    --logo-color: #C93D1A;
    --success: #62e862;
    --error: #e84545;
    --favorite-color: #d9a323;
}


html[data-theme="light"] {
    --logo-color: #C93D1A;
    --background-color: #f8f9fa;
    --component-background-color: #e9eef3;
    --links-color: #007ACC;
    --resources-links-color: #007ACC;
    --text-color: #212529;
    --text-color-opacity-50: #21252980;
    --border-opacity-09: #212529e6;
    --border-opacity-05: #21252980;
    --border-opacity-04: #21252960;
    --border-opacity-02: #21252930;
    --shadow: #7e7e7e7e;
}

html[data-theme="dark"] {
    --logo-color: #C93D1A;
    --background-color: #212529;
    --component-background-color: #17191C;
    --links-color: #78b3e2;
    --resources-links-color: #78b3e2;
    --text-color: #fff;
    --text-color-opacity-50: #ffffff80;
    --border-opacity-09: #ffffffe6;
    --border-opacity-05: #ffffff80;
    --border-opacity-04: #ffffff60;
    --border-opacity-02: #ffffff30;
    --shadow: #000000;

}


// ICONS //

// Resources icons colors
$beginner-color: rgb(232, 59, 42);
$dictionary-color: rgb(34, 174, 90);
$grammar-color: rgb(233, 94, 28);
$vocabulary-color: rgb(66, 107, 254);
$media-color: rgb(207, 212, 233);
$reading-color: rgb(207, 132, 36);
$miscellaneous-color: rgb(176, 71, 176);
$app-color: rgb(13, 174, 156);

// Application icons colors

$flashcards-color: rgb(208, 132, 214);
$tools-color: rgb(45, 110, 189);

// Media search icon color
$media-color: rgb(88, 116, 198);

// Games colors
$mobile-color: rgb(224, 158, 59);

@each $icon, $color in (fa-flag-checkered: $beginner-color,
    fa-book: $dictionary-color,
    fa-spell-check: $grammar-color,
    fa-language: $vocabulary-color,
    fa-book-open: $reading-color,
    fa-bookmark: $miscellaneous-color,
    fa-microchip: $app-color,
    fa-brain: $flashcards-color,
    fa-screwdriver-wrench: $tools-color,
    fa-photo-film: $media-color,
    fa-mobile-screen-button: $mobile-color) {
    .#{$icon} {
        color: $color;
    }
}