@use 'variables' as *;
@use 'mixins' as *;

.about-container {
    padding: $auto-padding-50;
}

.navigation-links {
    @include flex-row;
    gap: 10px;
    margin-top: 20px;
}

.about-content {
    @include flex-column;
    gap: 20px;
    margin-top: 20px;
    padding-left: 20px;
    border-left: 1px solid var(--border-opacity-05);

    .logo::before {
        content: '';
        display: inline-block;
        vertical-align:middle;
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background-color: var(--logo-color);
    }
    
    p {
        font-weight: 200;
    }

    .j-word {
        font-weight: bold;
    }

}

.face-doodle {
    width: 100px;
    transition: transform $transition-015s ease;

    &:hover {
        content: url('https://cloud.tareqitos.me/i/db29f22f-9c3c-49b3-aab6-a154b6322da1.png?width=100');
        transform: rotate(10deg);
    }
}