@import './variables';
@import './theme';
@import './mixins';

.btn {
    @include button-base-format;
    padding: 10px;
    border-radius: 8px;
    color: #78B3E2;
    border: 1px solid #78B3E2;
    background-color: var(--components-background-color);
    cursor: pointer;
}

.theme-toggle {
    @include button-base-format;
    font-size: 1.3em;
}

.socials {
    @include flex-row;
    gap: 10px;

    a {
        @include links-base-format;
        @include font-base-format;
        font-size: 1.3em;
        color: var(--text-primary-color-opacity-07);
    }
}

// To Top Button

.to-top-button {
        position: absolute;
        bottom: -50px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        @media screen and (max-width: 1200px) {
            position: fixed;
            bottom: 12px;
            right: 12px;
        }
    }
