@use 'variables' as *;
@use 'mixins' as *;
@use 'animations' as *;

// LINKS =================================================================
.links {
    @include link-properties;
    border: none;
    background: none;
}


// BUTTONS ===============================================================

.button {
    @include link-properties;
    cursor: pointer;
}

.button-rounded {
    @include navigation-buttons($border-radius: 50px);
    color: var(--links-color);
    padding: $button-padding-05-15;
    background: var(--component-background-color);
}

.button-padding-10-15 {
    padding: $button-padding-10-15;
}

.and-border {
    border: 2px solid var(--links-color);
    // box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white; // anti-aliasing
}

.and-background:hover {
    background: var(--links-color);
    color: var(--component-background-color);
}

// FAVORITE BUTTON ======================================================

.button-favorite {
    @include flex-row;
    display: inline-flex;
    vertical-align: middle;
    gap: 5px;
    color: var(--border-opacity-04);
    margin-left: 5px;
    border: none;
    background: none;

    cursor: pointer;


    @media screen and (max-width: $media-768) {
        .button-favorite-text {
            display: none;
        }
    }

    &:hover {
        color: var(--favorite-color);

        .button-favorite-text {
            visibility: visible;
            opacity: 1;
            left: 0;
        }
    }

    .button-favorite-text {
        visibility: hidden;
        opacity: 0;
        position: relative;
        left: -5px;
        top: 4px;
        transition: all $transition-02s-cubic;
    }

    .favorite-icon {

        &.spin {
            animation: spin 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}

// INPUTS ===============================================================

.search-input {
    font-family: $font-nunito, 'FontAwesome';
    color: var(--text-color);
    width: 30vw;
    padding: 5px 10px;
    border: none;
    border-radius: $border-radius-05;
    background: var(--background-color);
    transition: width $transition-02s-cubic;

    @include center-position-horizontal;
    top: 10px;
    z-index: 6;

    &:focus {
        @include center-position-horizontal;
        top: 10px;
        width: 60vw;
        outline-style: solid;
        outline-width: 2px;
        outline-color: var(--links-color);
    }

    @media screen and (min-width: $media-1200) {
        width: 20vw;

        &:focus {
            @include center-position-horizontal;
            top: 10px;
            width: 60vw;
        }
    }

    @media screen and (max-width: $media-768) {
        width: 25vw;

        &:focus {
            @include center-position-horizontal;
            top: 10px;
            width: 95vw;
        }
    }
}

// TO TOP BUTTON ========================================================

.to-top-container {
    @include flex-row;
    justify-content: flex-end;
    position: sticky;
    margin-right: 10px;
    margin-bottom: 10px;
    bottom: 10px;
}

.to-top {
    @include navigation-buttons($border-radius: 50px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.visible {
    visibility: visible;
    opacity: 1;
}

// SCROLLBAR ============================================================

::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-thumb {
    background: var(--links-color);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    border-radius: $border-radius-20;
    background: var(--component-background-color);
}

// ANCHOR ===============================================================

.anchor {
    position: relative;
    bottom: 200px;
}

// HIDE COMPONENTS ======================================================
.hide {
    display: none;
}

.show {
    display: inherit;
}