@import './variables';
@import './theme';
@import './mixins';


.btn {
    @include button-base-format;
    border-radius: $border-radius-8;
    color: var(--button-color);
    border: 1px solid var(--button-color);
    background-color: var(--components-background-color);
    transition: all .15s ease;


    html[data-theme="dark"] &:hover {
        color: $button-color-light;
        border: 1px solid $button-color-light;
    }

    html[data-theme="light"] &:hover {
        color: $button-color;
        border: 1px solid $button-color;
    }
}

input {
    color: var(--text-primary-color);
    padding: 10px;
    border: none;
    border-radius: $border-radius-5;
    background-color: var(--background-color);
}

.theme-toggle {
    @include button-base-format;
    font-size: 1.3em;
}

.socials {
    @include flex-row;
    gap: 10px;

    a {
        @include font-base-format(1.25em, 400, 0);
        @include links-base-format;
        color: var(--text-primary-color-opacity-07);
        transition: all .15s ease;

        &:hover {
            color: $button-color-light;
        }
    }
}

.h-icon,
.at-icon {
    width: 24px;
    vertical-align: middle;
    transition: all .15s ease;

    &:hover {
        color: $button-color-light;
    }
}

.link-icon {
    width: 25px;
    vertical-align: center;
}

// To Top Button

.to-top-button {
    position: absolute;
    padding: 10px 15px;
    bottom: -50px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    @media screen and (max-width: 1200px) {
        position: fixed;
        bottom: 12px;
        right: 12px;
    }
}

// select

.select-input {
    padding: 4px;
    max-width: 200px;
    border-radius: $border-radius-5;
    color: var(--text-primary-color-opacity-04);
    background: var(--background-color);
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid var(--text-primary-color-opacity-04);

    &:focus {
        outline:none;
    }
}