@use 'variables' as *;
@use 'mixins' as *;

$padding-input: 5px 10px;
$gap: 20px;

.feedback-button-container {
    margin: $gap*1.5 0 $gap 0;
}

.feedback-form-container {
    padding: 30px 50px;
    width: fit-content;
    margin-top: 10px;

    border-radius: $border-radius-10;
    background: var(--component-background-color);

    hr {
        margin: 20px 0;
        opacity: .1;
    }

    @mixin showAnimation {
        display: block;
        animation-fill-mode: forwards;
        animation: fadeIn .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    @mixin hideAnimation {
        animation: fadeOut .5s cubic-bezier(0.075, 0.82, 0.165, 1) reverse forwards;
    }

    &.active {
        @include showAnimation;
        animation-delay: 0;
        opacity: 1;
    }

    &.hidden {
        @include hideAnimation;
        animation-delay: .5s;
        opacity: 0;
        display: none;
    }

    @keyframes fadeIn {
        from { opacity: 0;}
        to { opacity: 1;}
    }
    
    @keyframes fadeOut {
        from {opacity: 1;}
        to {opacity: 0;}
    }
    
}


select {
    color: var(--text-color);
    margin-bottom: $gap;
    padding: $padding-input;
    border-radius: $border-radius-05;
    background: var(--background-color);

    &:focus {
        outline: none;
    }
}

.feedback-inputs {
    @include flex-column;
    gap: 5px;
}

input {
    color: var(--text-color);
    padding: $padding-input;
    border: none;
    border-radius: $border-radius-05;
    background: var(--background-color);
    width: 80%;
}

button[type="submit"] {
    margin-top: $gap;
}

.feedback-contact {
    font-size: .8em;
    margin: $gap 0 calc($gap / 2) 0;
    a {
        @include link-properties;
        color: var(--links-color);
        cursor: pointer;
    }
}

.loading.feedback-loading {
    display: inline-block;
    font-size: 2em;
    text-align: left;
    padding-top: 0;
    margin-bottom: 10px;
}

.feedback-message {
    margin-bottom: 10px;
}