@use 'variables' as *;
@use 'mixins' as *;

.update-message {
    padding: 10px 20px 10px;
    font-size: 14px;
    text-align: center;
    opacity: .5;
    position: relative;
    z-index: -1;
}

.homepage-wrapper {
    padding: $auto-padding;

    @media screen and (max-width: $media-768) {
        padding: $auto-padding-50-1;

    }
}

.homepage-logo {
    @include flex-column-center;

    .title {
        text-align: center;
        margin-bottom: 20px;
        margin: 100px 0;
    }

    .title a {
        @include font-properties(5em, 700, normal);
        @include link-properties(var(--text-color), var(--text-color));
        @include flex-row-center;
        @include center-with-margin(0 auto, fit-content);
        gap: 10px;
        font-family: $font-mochiy;

        .logo {
            display: inline-block;
            margin-bottom: 3px;
            text-align: center;
            height: 100px;
            width: 100px;
            border-radius: 100%;
            background-color: white;
            transition: background-color .3s cubic-bezier(0.075, 0.82, 0.165, 1);

            &::before {
                content: '';
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-color: var(--logo-color);

                filter: blur(80px);
                z-index: -1;
            }

            &::after {
                content: '';
                display: block;
                position: relative;
                bottom: 100%;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-color: var(--logo-color);
                z-index: 0;

                transition: transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }

        &:hover {
            .logo {
                background-color: #fefefe;
            }

            .logo::after {
                transform: scale(.5);
            }
        }
    }

    .catchphrase {
        font-size: .8em;
        border-radius: 50px;
        padding: 5px 20px;
        width: fit-content;
        float: right;
        background-color: var(--component-background-color);
    }
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    @include border-hover;
    padding: 30px 40px;
    border-radius: $border-radius-10;
    background-color: var(--component-background-color);

    @include flex-column;
    justify-content: space-between;

    span {
        display: inline-block;
        width: fit-content;
        padding: 10px 15px;
        margin-bottom: 10px;
        border-radius: $border-radius-05;
        background-color: var(--background-color);
    }

    .card-title {
        @include link-properties;
        @include font-properties(1.2em, 400, normal);
        display: block;
    }

    .card-desc {
        @include font-properties(1em, 200, 1.5);
    }
}

.navigation-links {
    @include flex-row-center(left);
    gap: 10px;
    margin-top: 20px;
}

.shortcuts {
    @include flex-row;

    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.shortcut {
    padding: 5px 10px;
}

@media screen and (max-width: $media-1200) {
    .homepage-wrapper {
        padding-top: 0;
    }

    .homepage-logo {
        .title {
            margin: 50px 0;
        }

        .title a {
            font-size: 4em;

            .logo {
                height: 80px;
                width: 80px;
            }
        }
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        padding: 20px 30px;

        span {
            font-size: 1em;
            padding: 5px 10px;
        }

        .card-title {
            font-size: 1.2em;
        }

        .card-desc {
            font-size: 1em;
        }
    }
}

@media screen and (max-width: $media-768) {
    .homepage-wrapper {
        padding-top: 0;
    }

    .cards-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        height: 100%;
        padding: 20px 20px;
    }

    .shortcuts {
        font-size: .8em;
    }
}