@import './variables';
@import './reset';
@import './theme';
@import './mixins';

html {
    &.stop-scrolling {
        overflow: hidden;
    }
}

#root {
    min-height: 100%;
    position: relative;
}