@use 'variables' as *;
@use 'mixins' as *;

// GENERAL ========================================================

.register-login-container {
    @include center-with-margin(auto, max-content);
    padding: 50px 30px;
    margin-top: 100px;
    box-shadow: 0 10px 20px var(--shadow);
    background-color: var(--component-background-color);

    .register-login-form {
        @include flex-column-center;
        gap: 20px;

        h3 {
            text-align: center;
        }
    
        input {
            color: var(--text-color);
            padding: 10px 20px;
            border: none;
            border-radius: $border-radius-05;
            background: var(--background-color);
        }
    
        .field-container {
            @include flex-column;
            gap: 10px;
        }
        .field {
            @include flex-column;
        }

        a {
            @include link-properties(var(--links-color), var(--text-color));
        }
    }
}