@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.anchor {
    position: relative;
    bottom: 200px
}

.links-container {
    @include flex-column;
    flex: 1;
}

section {
    margin-bottom: 30px;

    .category-title {
        @include font-base-format(1.2rem, 400, 1.5);
        margin-bottom: 10px;
    }

    .link-list {
        @include font-base-format(1.1rem, 400, 2.2);
        color: var(--text-primary-color-opacity-07);
        letter-spacing: .5px;
        padding: 30px;
        border-radius: $border-radius-10;
        list-style: none;
        background-color: var(--components-background-color);

        @media screen and (max-width: 567px) {
            font-size: 1em;
            line-height: 1.8;
        }
    }
}

.link-item-container {
    transition: color .15s ease;

    html[data-theme="light"] &:hover i {
        opacity: .5;
    }

    html[data-theme="dark"] &:hover i {
        color: var(--text-primary-color);
        text-shadow: 0 0 10px var(--text-primary-color);
    }

    i {
        font-size: 1.1rem;
        margin-right: 10px;
    }
}

.link-item {
    @include links-base-format;
    transition: color .15s ease;

    &:hover {
        color: var(--text-primary-color);
    }
}

// ======================================== MEDIA ========================================

.media-list {
    ul {
        padding: 0;
        overflow: hidden;

        .media-link-wrapper {
            position: relative;
            overflow: hidden;
            padding: 15px;

            .link-item-container {
                @include flex-center;
                gap: 20px;
            }
        
            .media-img {
                position: relative;
                height: 60px;
                border-radius: $border-radius-5;

            }
            .media-infos {
               @include flex-column;
               line-height: 1.5;

            }

            .media-img-bg {
                position: absolute;
                top: 0;
                left: -25px;
                height: 100px;
                filter: blur(20px);
                opacity: .3;
                z-index: -1;
            }
        }

    }
}