@import '../styles/variables.scss';
@import '../styles/mixins.scss';


.loading-data {
    text-align: center;
    font-size: 5em;
    margin: 50px auto;
    width: 50%;

    animation: pulse 2s ease-in-out infinite; 

}

@keyframes pulse {
    0% {
        opacity: .3;
        transform: scale(1);
    }
    50% {
        opacity: .8;
        transform: scale(1.1);
    }
    100% {
        opacity: .3;
        transform: scale(1);
    }
}

.json-error-message {
    text-align: center;
    margin: 50px;

    a {
        @include button-base-format;
        color: var(--button-color);
    }
}

// Main content

.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex: 1;
    padding: $main-side-padding;

    @media screen and (max-width: 1200px) {
        display: unset;
    }
}

.resources {

    @media screen and (max-width: 1200px) {
        padding-left: 0;
    }
}

.resources-hr {
    color: var(--text-primary-color);
    opacity: .1;
    border: none;
    border-top: 1px solid;
    margin: 40px 0 20px;
    width: 80%;
}

.resources-title {
    @include font-base-format(2em, 400, 1.5);

    @media screen and (max-width: 567px) {
        font-size: 1.8em;
        
    }
}

.resources-desc {
    color: var(--text-primary-color-opacity-04)
}

.to-top-main {
    display: none;
}

@media screen and (min-width: 1201px) {
    .sidebar-bg {
        visibility: hidden;
        opacity: 0;
    }
}

@media screen and (max-width: 1200px) {
    .to-top-main {
        display: block;
        position: fixed;
        bottom: 12px;
        right: 12px;
    }
}
