footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: var(--text-primary-color-opacity-07);
    padding: $header-footer-side-padding;
    background-color: vaR(--components-background-color);
}