header {
    background-color: var(--components-background-color);
    padding: $header-footer-side-padding;
    @include flex-space-between;
    align-items: center;

    .title {
        flex-grow: 1;

        a {
            @include links-base-format;
            @include font-base-format;
            font-family: $title-font;
            font-size: 1.2em;
            color: var(--text-primary-color);
            width: fit-content;

            @include flex-center;
            gap: 10px;
        }
    }

    .logo {
        display: inline-block;
        margin-bottom: 3px;
        text-align: center;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        background-color: #c93d1a;
    }

    hr {
        height: 30px;
        border: none;
        border-left: 1px solid var(--text-primary-color-opacity-07)
    }

    input {
        color: var(--text-primary-color);
        padding: 10px;
        border: none;
        border-radius: 5px;
        width: 20vw;
        background-color: var(--background-color);
        transition: all .2s ease;

        &:focus {
            outline: 1px solid rgba(var(--text-primary-color), 0.4);
            width: 30vw;
        }
    }


}

.header-right-side {
    @include flex-center;
    gap: 20px;

    .theme-toggle {
        @include button-base-format;
        font-size: 1.3em;
    }

    .socials {
        @include flex-row;
        gap: 10px;

        a {
            @include links-base-format;
            @include font-base-format;
            font-size: 1.3em;
            color: var(--text-primary-color-opacity-07);
        }
    }

    @media screen and (max-width: 576px) {
        display: none;
    }
}