@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.search-input {
    width: 50%;
    background-color: var(--components-background-color);
    transition: all .2s ease;

    &:focus {
        outline: 1px solid rgba(var(--text-primary-color), 0.4);
        width: 60%;
    }
}

.sort-input {
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px;
}