@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
    @include flex-center;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    color: var(--text-primary-color-opacity-07);
    padding: $header-footer-side-padding;
    background-color: var(--components-background-color);

    p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 567px) {
            left: 75%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        justify-content: space-between;

        p {
            position: static;
            transform: none;
        }
    }
    
}